#Home{
  height: calc(100vh - 60px);
  margin-top: 60px; 
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #efe3e3;
}

#clickExplore {
  height: 150px;
  width: 300px;
  background-image: url('/images/explorer.png');
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  color: rgb(233, 213, 213);
  font-size: 32px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease, filter 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


#clickExplore:hover{
  transform: scale(1.05);
  filter: brightness(1.1);
}
